{extends file="BASE.html"}

{block name=title}This is the Index Page{/block}

{block name=content}

<div class="row-fluid">
	<div class="hero-unit span8">
		<h1>Forager</h1>
		<p></p>
		<p>See spsu.edu homepage analytics.</p>
	</div>

	{if !$admin->isAdmin()}
		<div class="span4 main-login">
			<h3>Log in</h3>
			<form action="/login" method="post">
				<p><input type="text" name="username" /></p>
				<p><input type="password" name="password" /></p>
				<p><input type="submit" value="Login" /></p>
			</form>
		</div>
	{else}
		<div class="span4 main-login">
			<h3>Admin Menu</h3>
			<ul>
				<li>Run Spider &mdash; TODO integration</li>
				<li>View Reports &mdash; TODO</li>
			</ul>
		</div>
	{/if}
</div>

{/block}
